* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

/*
CSS Style
Login / Register / forgot-password / new-password / Contact-us
*/
.LoginDiv,
.RegisterDiv,
.ForgotPasswordDiv,
.NewPasswordDiv,
.ContactUsDiv {
    width: 100%;
    height: 96vh;
}

.ClothesAddProductDiv,
.ShoesAddProductDiv,
.MyProfileDiv,
.MyFavoritesDiv,
.MyCartDiv,
.PayPageDiv {
    width: 100%;
    height: auto;
}

.LoginPage,
.RegisterPage,
.ForgotPasswordPage,
.NewPasswordPage,
.ContactUsPage,
.ClothesAddProductPage,
.ShoesAddProductPage,
.MyProfilePage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MyFavoritesPage,
.MyCartPage,
.PayPage {
    padding: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.LoginForm,
.RegisterForm,
.ForgotPasswordForm,
.NewPasswordForm,
.ContactUsForm,
.ClothesAddProductForm,
.ShoesAddProductForm,
.PayPageForm {
    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4rem;
}

.PageHeader {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 900;
    color: rgb(29, 44, 82);
}

.FormHeader {
    font-size: 1.4rem !important;
    font-weight: 700 !important;
    color: rgb(134, 156, 175) !important;
    margin-bottom: .4rem !important;
}

.LoginInput,
.RegisterInput,
.ForgotPasswordInput,
.NewPasswordInput,
.ContactUsInput,
.ClothesAddProductInput,
.ShoesAddProductInput,
.PayPageInput {
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.6rem;
    padding: .3rem;
    border-radius: .4rem;
    outline: none;
    margin-bottom: 1rem;
}

.ContactUsTextarea,
.ClothesAddProductTextarea,
.ShoesAddProductTextarea,
.PayPageTextarea {
    width: 100%;
    height: 18rem;
    margin-bottom: 1em;
    resize: none;
    font-size: 1.6rem;
    border-radius: .5em;
    padding: .2em;
}

.ContactUsTextarea:focus,
.ClothesAddProductTextarea:focus,
.ShoesAddProductTextarea:focus,
.PayPageTextarea:focus {
    outline: none;
}

.LoginButton,
.RegisterButton,
.ForgotPasswordButton,
.NewPasswordButton,
.ContactUsButton,
.ClothesAddProductButton,
.ShoesAddProductButton,
.PayPageButton {
    width: 100%;
    height: 4rem;
    border-radius: .4rem;
    background-color: rgb(19, 27, 48);
    border-color: rgb(19, 27, 48);
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    transition: ease-in-out .2s;
}

.RegisterButtonDisable,
.LoginButtonDisable,
.ForgotPasswordButtonDisable,
.NewPasswordButtonDisable,
.ClothesAddProductButtonDisable,
.ShoesAddProductButtonDisable,
.ContactUsButtonDisable,
.PayPageButtonDisable {
    width: 100%;
    height: 4rem;
    border-radius: .4rem;
    background-color: rgb(94, 105, 131);
    border-color: rgb(19, 27, 48);
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: wait;
}

.LoginButton:hover,
.RegisterButton:hover,
.ForgotPasswordButton:hover,
.NewPasswordButton:hover,
.ContactUsButton:hover,
.ClothesAddProductButton:hover,
.ShoesAddProductButton:hover,
.PayPageButton:hover {
    cursor: pointer;
    background-color: rgba(51, 65, 85, 0.959);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.RegisterFileInput::file-selector-button,
.ClothesAddProductFileInput::file-selector-button,
.ShoesAddProductFileInput::file-selector-button {
    margin: 2rem 10rem 3rem 0;
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    border: .1rem solid rgba(184, 184, 184, 0.774);
    border-radius: .4rem;
    color: rgb(5, 132, 182);
    font-size: 1.4rem;
    font-weight: 700;
    transition: ease-in-out .2s;
}

.RegisterFileInput::file-selector-button:hover,
.ClothesAddProductFileInput::file-selector-button:hover,
.ShoesAddProductFileInput::file-selector-button:hover {
    cursor: pointer;
    color: rgb(80, 151, 179);
}

.LoginFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    margin: 1rem 0 1rem 0;
}

.LoginFooter span {
    color: rgba(112, 112, 112, 0.87);
    font-size: 1.4rem;
}

.LoginFotButton {
    background-color: transparent;
    border: none;
    color: rgb(50, 108, 173);
    font-size: 1.4rem;
}

.LoginFotButton:hover {
    cursor: pointer;
    color: rgba(50, 107, 173, 0.795);
}

/*
CSS Style
Home-page / Navbar
*/
.Navbar {
    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    line-height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
    border-bottom: 1px solid rgba(201, 201, 201, 0.726);
}

.HeaderDiv {
    flex-basis: 70%;
    display: flex;
    justify-content: start;
}

.HeaderDiv p {
    font-size: 2rem;
    font-weight: 700;
}

.HeaderDiv p:hover {
    cursor: pointer;
}


.InteractDiv {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
}

.InoutDiv {
    flex-basis: 15%;
    display: flex;
    justify-content: end;
}

.NavbarButton {
    width: 12rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: .4rem;
    transition: ease-in-out .2s;
}

.NavbarButton:hover {
    cursor: pointer;
    color: grey;
}


.MyCartListDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.MyFavoritesCardList,
.MyCartList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.MyCartListButton {
    width: 30rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: rgb(255, 225, 170);
}

.MyCartListButton:hover {
    cursor: pointer;
    background-color: rgb(255, 232, 188);
}

.MyFavoritesCard,
.MyCartCard {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: 20rem;
    border: .1rem solid rgba(201, 201, 201, 0.788);
    margin-bottom: 5rem;
}

.MyFavoritesCardImage,
.MyCartCardImage {
    width: 18rem;
    height: 18rem;
    object-fit: contain;
    margin-right: 4rem;
}

.MyFavoritesCardImage img,
.MyCartCardImage img {
    border-radius: .4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MyFavoritesCardInfo,
.MyCartCardInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.MyFavoritesCardInfoData,
.MyCartCardInfoData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 92%;
}

.MyFavoritesCardInfoData p,
.MyCartCardInfoData p {
    border: .1rem solid rgb(255, 233, 189);
    background-color: rgb(255, 244, 225);
    color: rgba(31, 44, 54, 0.78);
    border-radius: .4rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem 0 1rem;
    font-size: 1.2rem;
}

.MyFavoritesCardInfoData p span,
.MyCartCardInfoData p span {
    font-size: 1.4rem;
    font-weight: 700;
    padding-right: 1rem;
}

.MyFavoritesCardButton,
.MyCartCardButton {
    flex-basis: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.MyCartCardButtonDeleteIcon,
.MyCartCardButtonPlusMinIcon {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
}

.MyCartCardButtonDeleteIcon:hover,
.MyCartCardButtonPlusMinIcon {
    cursor: pointer;
}

.MyCartCardButtonDeleteIcon .anticon svg {
    font-size: x-large;
    color: rgb(172, 13, 13);
}

.MyCartCardButtonPlusMinIcon .anticon svg {
    font-size: x-large;
    color: rgba(82, 82, 82, 0.664);
}

.MyCartCardButtonDeleteIcon:hover .anticon svg {
    color: rgba(172, 13, 13, 0.658);

}

.MyCartCardButtonPlusMinIcon:hover .anticon svg {
    font-size: x-large;
    color: rgba(82, 82, 82, 0.377);
}


.ProductSummaryDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PayPageProductBrief {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.PayPageFormDiv {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.PayPageItemDiv {
    width: 100%;
    height: auto;
}

.PayPageItemTable {
    width: 100%;
}

.PayPageItemTable thead tr {
    width: 100%;
    display: flex;
    border: .1rem solid rgba(187, 187, 187, 0.411);
    justify-content: space-between;
}

.PayPageItemTable thead th {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgba(184, 184, 184, 0.877);
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-left: .1rem solid rgba(187, 187, 187, 0.411);
}

.PayPageItemTable tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: .1rem solid rgba(187, 187, 187, 0.411);
    border-top: none;
}

.PayPageItemTable tbody td {
    font-size: 1.3rem;
    font-weight: 700;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: .1rem solid rgba(187, 187, 187, 0.411);
}

.PayPageItemTable tbody img {
    width: 5rem;
    object-fit: contain;
    border-radius: .4rem;
}


.MyProfileSellerDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.MyProfileSellerHeader {
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2rem 0;
    padding: 0 3rem 0 3rem;
}

.MyProfileSellerHeader h2 {
    font-size: 2rem;
    color: rgba(179, 203, 248, 0.815);
}

.MyProfileSellerHeaderButton {
    width: 15rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: .5rem;
    border: none;
    background-color: rgb(76, 95, 122);
    color: white;
    box-shadow: .1rem .3rem 2.2rem rgb(156, 156, 156);
}

.MyProfileSellerHeaderButton:hover {
    cursor: pointer;
    background-color: rgb(98, 118, 145);
}

.MyProfileSellerBody {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25em, 2fr));
}


/*HomePage*/
.HomePageDiv,
.CategoryListPageDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ContentDiv,
.CategoryListPage {
    width: 100%;
    height: auto;
    display: flex;
}

.CatagoryDiv {
    flex-basis: 15%;
}

.ContentBody {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.HeaderSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.HeaderSearchInput {
    width: 40%;
    height: 3rem;
    line-height: 3rem;
    border-radius: .4rem;
    border: .1rem solid rgba(219, 219, 219, 0.849);
    outline: none;
    padding: 1rem;
    font-weight: 700;
}

.ProductDiv {
    width: 100%;
    height: auto;
    flex-basis: 70%;
    padding: 3rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(21em, 2fr));

}

.ProductDivItems {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(21em, 2fr));
}

.FilterDiv {
    flex-basis: 15%;
}


/*
CSS Styles
Components Items Page
*/
/*CategoryList*/
.CategoryListDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.CategoryListMainUl {
    list-style: none;
}

.CategoryListMainLi {
    width: 100%;
    height: 4rem;
}

.CategoryListMainButton {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    text-align: start;
    padding: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: .1rem solid rgba(212, 212, 212, 0.664);
    border-right: .1rem solid rgba(212, 212, 212, 0.664);
    transition: ease-in-out .2s;
}

.CategoryListMainButton:hover {
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.699);
}

.CategoryListMainButton.selected {
    background-color: rgba(184, 184, 184, 0.699);
}

.CategoryListMainButton.selected:hover {
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.699);
}

/*ProductItem*/

.ProductCardDiv,
.MyProfileProductsItemDiv,
.ShoesProductCardDiv {
    width: 23rem;
    height: 38rem;
    border-radius: 1rem;
    border: 1px solid rgba(190, 190, 190, 0.705);
    transition: ease-in-out .2s;
}

.ProductCardDiv:hover,
.MyProfileProductsItemDiv:hover {
    cursor: pointer;
    box-shadow: .1rem .1rem 1rem .1rem rgb(216, 216, 216);
}

.ProductCardImg,
.MyProfileProductsItemImg,
.ShoesProductCardImg {
    width: 100%;
    height: 28rem;
    margin-bottom: 1rem;
}

.ProductCardImg img,
.MyProfileProductsItemImg img,
.ShoesProductCardImg img {
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ProductCardDesc,
.MyProfileProductsItemDesc,
.ShoesProductCardDesc {
    width: 100%;
    height: 8rem;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProductCardTitle,
.MyProfileProductsItemHeader,
.ShoesProductCardTitle {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.ProductCardPrice,
.MyProfileProductsItemPrice,
.ShoesProductCardPrice {
    font-size: 1.2rem;
}



.ClothesProductViewerDiv,
.ShoesProductViewerDiv {
    width: 100%;
    height: auto;
}

.ClothesProductViewerPage,
.ShoesProductViewerPage {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.ClothesProductViewerPageImage,
.ShoesProductViewerPageImage {
    width: 40%;
    height: 75rem;
    object-fit: contain;
}

.ClothesProductViewerPageImage img,
.ShoesProductViewerPageImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.ClothesProductViewerPageBody,
.ShoesProductViewerPageBody {
    width: 48%;
    height: 80rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
}

.ClothesProductViewerPageBodyHeader,
.ShoesProductViewerPageBodyHeader {
    font-size: 2.4rem;
    white-space: pre-wrap !important;
    word-break: break-all;
    margin-bottom: 8rem;
}

.ProductSeller {
    font-size: 2.4rem;
    font-weight: 700;
    color: rgb(134, 156, 175);
}

.ProductBrand:hover {
    cursor: pointer;
    color: rgba(134, 156, 175, 0.801);
}

.ClothesItemFeature,
.ShoesItemFeature {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(26em, 3fr));
    width: 100%;
    height: auto;
    margin-bottom: 8rem;
}

.ClothesItemFeatureP,
.ShoesItemFeatureP {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 .5rem 0 .5rem;
    background-color: rgba(243, 243, 243, 0.555);
    border-radius: .4rem;
}

.ClothesItemFeatureP span,
.ShoesItemFeatureP span {
    font-size: 1.2rem;
    font-weight: bold;
}

.ClothesItemFeatureDesc,
.ShoesItemFeatureDesc {
    border-radius: .4rem;
    border: .1rem solid rgba(243, 243, 243, 0.89);
    background-color: rgba(243, 243, 243, 0.555);
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;
    font-size: 1.6rem;
    padding: 1.3rem;
    white-space: pre-wrap;
    word-break: keep-all;
}

.ClothesItemFeatureDescSize,
.ShoesItemFeatureDescSize {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 8rem;

}

.ClothesItemFeatureButton,
.ShoesItemFeatureButton {
    width: 45rem;
    height: 4rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    color: white;
    background-color: rgb(21, 38, 78);
    transition: ease-in-out .2s;
    margin-bottom: 8rem;

}

.ClothesItemFeatureButton:hover,
.ShoesItemFeatureButton:hover {
    cursor: pointer;
    background-color: rgba(21, 38, 78, 0.788);
}