* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

/*
CSS Style
Login / Register / forgot-password / new-password / Contact-us
*/
.LoginDiv,
.RegisterDiv,
.ForgotPasswordDiv,
.NewPasswordDiv,
.ContactUsDiv {
    width: 100%;
    height: 96vh;
}

.ClothesAddProductDiv,
.ShoesAddProductDiv,
.MyProfileDiv,
.MyFavoritesDiv,
.MyCartDiv,
.PayPageDiv,
.ElectronicAddProductDiv,
.PersonalCareAddProductDiv,
.BagAddProductDiv {
    width: 100%;
    height: auto;
}

.LoginPage,
.RegisterPage,
.ForgotPasswordPage,
.NewPasswordPage,
.ContactUsPage,
.ClothesAddProductPage,
.ShoesAddProductPage,
.ElectronicAddProductPage,
.MyProfilePage,
.BagAddProductPage,
.PersonalCareAddProductPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MyFavoritesPage,
.MyCartPage,
.PayPage {
    padding: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.LoginForm,
.RegisterForm,
.ForgotPasswordForm,
.NewPasswordForm,
.ContactUsForm,
.ClothesAddProductForm,
.ShoesAddProductForm,
.PayPageForm,
.ElectronicAddProductForm,
.PersonalCareAddProductForm,
.BagAddProductForm {
    width: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 4rem;
}

.PageHeader {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 900;
    color: rgb(29, 44, 82);
}

.FormHeader {
    font-size: 1.4rem !important;
    font-weight: 700 !important;
    color: rgb(134, 156, 175) !important;
    margin-bottom: .4rem !important;
}

.LoginInput,
.RegisterInput,
.ForgotPasswordInput,
.NewPasswordInput,
.ContactUsInput,
.ClothesAddProductInput,
.ShoesAddProductInput,
.PayPageInput,
.ElectronicAddProductInput,
.BagAddProductInput,
.PersonalCareAddProductInput {
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.6rem;
    padding: .3rem;
    border-radius: .4rem;
    outline: none;
    margin-bottom: 1rem;
}

.ContactUsTextarea,
.ClothesAddProductTextarea,
.ShoesAddProductTextarea,
.PayPageTextarea,
.ElectronicAddProductTextarea,
.PersonalCareAddProductTextarea,
.BagAddProductTextarea {
    width: 100%;
    height: 18rem;
    margin-bottom: 1em;
    resize: none;
    font-size: 1.6rem;
    border-radius: .5em;
    padding: .2em;
}

.ContactUsTextarea:focus,
.ClothesAddProductTextarea:focus,
.ShoesAddProductTextarea:focus,
.PayPageTextarea:focus,
.ElectronicAddProductTextarea:focus,
.PersonalCareAddProductTextarea:focus,
.BagAddProductTextarea:focus {
    outline: none;
}

.LoginButton,
.RegisterButton,
.ForgotPasswordButton,
.NewPasswordButton,
.ContactUsButton,
.ClothesAddProductButton,
.ShoesAddProductButton,
.PayPageButton,
.ElectronicAddProductButton,
.BagAddProductButton,
.PersonalCareAddProductButton {
    width: 100%;
    height: 4rem;
    border-radius: .4rem;
    background-color: rgb(19, 27, 48);
    border-color: rgb(19, 27, 48);
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    transition: ease-in-out .2s;
}

.RegisterButtonDisable,
.LoginButtonDisable,
.ForgotPasswordButtonDisable,
.NewPasswordButtonDisable,
.ClothesAddProductButtonDisable,
.ShoesAddProductButtonDisable,
.ContactUsButtonDisable,
.PayPageButtonDisable,
.ElectronicAddProductButtonDisable,
.PersonalCareAddProductButtonDisable,
.BagAddProductButtonDisable {
    width: 100%;
    height: 4rem;
    border-radius: .4rem;
    background-color: rgb(94, 105, 131);
    border-color: rgb(19, 27, 48);
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: wait;
}

.LoginButton:hover,
.RegisterButton:hover,
.ForgotPasswordButton:hover,
.NewPasswordButton:hover,
.ContactUsButton:hover,
.ClothesAddProductButton:hover,
.ShoesAddProductButton:hover,
.PayPageButton:hover,
.ElectronicAddProductButton:hover,
.BagAddProductButton:hover,
.PersonalCareAddProductButton:hover {
    cursor: pointer;
    background-color: rgba(51, 65, 85, 0.959);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.RegisterFileInput::file-selector-button,
.ClothesAddProductFileInput::file-selector-button,
.ShoesAddProductFileInput::file-selector-button,
.ElectronicAddProductFileInput::file-selector-button {
    margin: 2rem 10rem 3rem 0;
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    border: .1rem solid rgba(184, 184, 184, 0.774);
    border-radius: .4rem;
    color: rgb(5, 132, 182);
    font-size: 1.4rem;
    font-weight: 700;
    transition: ease-in-out .2s;
}

.RegisterFileInput::file-selector-button:hover,
.ClothesAddProductFileInput::file-selector-button:hover,
.ShoesAddProductFileInput::file-selector-button:hover,
.ElectronicAddProductFileInput::file-selector-button:hover {
    cursor: pointer;
    color: rgb(80, 151, 179);
}

.LoginFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    margin: 1rem 0 1rem 0;
}

.LoginFooter span {
    color: rgba(112, 112, 112, 0.87);
    font-size: 1.4rem;
}

.LoginFotButton {
    background-color: transparent;
    border: none;
    color: rgb(50, 108, 173);
    font-size: 1.4rem;
}

.LoginFotButton:hover {
    cursor: pointer;
    color: rgba(50, 107, 173, 0.795);
}

/*
CSS Style
Home-page / Navbar
*/
.Navbar {
    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    line-height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
    border-bottom: 1px solid rgba(201, 201, 201, 0.726);
}

.HeaderDiv {
    width: 100%;
    height: 100%;
    flex-basis: 70%;
    display: flex;
    justify-content: start;
    align-items: stretch;
}

.HeaderDiv p {
    font-size: 2rem;
    font-weight: 700;
}

.HeaderDiv p:hover {
    cursor: pointer;
}


.InteractDiv {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
}

.InoutDiv {
    flex-basis: 15%;
    display: flex;
    justify-content: end;
}

.NavbarButton {
    width: 12rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: .4rem;
    transition: ease-in-out .2s;
}

.NavbarButton:hover {
    cursor: pointer;
    color: grey;
}


.MyCartListDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.MyFavoritesCardList,
.MyCartList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.MyCartListButton {
    width: 30rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: rgb(255, 225, 170);
}

.MyCartListButton:hover {
    cursor: pointer;
    background-color: rgb(255, 232, 188);
}

.MyFavoritesCard,
.MyCartCard {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    height: 25rem;
    border: .1rem solid rgba(201, 201, 201, 0.788);
    margin-bottom: 5rem;
}

.MyFavoritesCardImage,
.MyCartCardImage {
    width: 18rem;
    height: 18rem;
    object-fit: contain;
    margin-right: 4rem;
}

.MyFavoritesCardImage img,
.MyCartCardImage img {
    border-radius: .4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MyFavoritesCardInfo,
.MyCartCardInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.MyFavoritesCardInfoData,
.MyCartCardInfoData {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 92%;
}

.MyFavoritesCardInfoData p,
.MyCartCardInfoData p {
    border: .1rem solid rgb(255, 243, 219);
    background-color: rgb(255, 251, 245);
    color: rgba(31, 44, 54, 0.78);
    border-radius: .4rem;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem 0 1rem;
    font-size: 1.2rem;
}

.MyFavoritesCardInfoData p span,
.MyCartCardInfoData p span {
    font-size: 1.4rem;
    font-weight: 700;
    padding-right: 1rem;
}

.MyFavoritesCardButton,
.MyCartCardButton {
    flex-basis: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.MyCartCardButtonDeleteIcon,
.MyCartCardButtonPlusMinIcon {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
}

.ProductCardItemPlusMinIconButton {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: none;
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.ProductCardItemPlusMinIconButton .anticon svg {
    font-size: 3.5rem !important;
    color: rgb(201, 201, 201);
}

.ProductCardItemPlusMinIconButton .anticon svg:hover {
    cursor: pointer;
    color: rgb(184, 184, 184);
}

.MyCartCardButtonDeleteIcon:hover,
.MyCartCardButtonPlusMinIcon {
    cursor: pointer;
}

.MyCartCardButtonDeleteIcon .anticon svg {
    font-size: x-large;
    color: rgb(172, 13, 13);
}

.MyCartCardButtonPlusMinIcon .anticon svg {
    font-size: x-large;
    color: rgba(82, 82, 82, 0.664);
}

.MyCartCardButtonDeleteIcon:hover .anticon svg {
    color: rgba(172, 13, 13, 0.658);

}

.MyCartCardButtonPlusMinIcon:hover .anticon svg {
    font-size: x-large;
    color: rgba(82, 82, 82, 0.377);
}


.ProductSummaryDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.PayPageProductBrief {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.PayPageFormDiv {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.PayPageItemDiv {
    width: 100%;
    height: auto;
}

.PayPageItemTable {
    width: 100%;
}

.PayPageItemTable thead tr {
    width: 100%;
    display: flex;
    border: .1rem solid rgba(187, 187, 187, 0.411);
    justify-content: space-between;
}

.PayPageItemTable thead th {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgba(184, 184, 184, 0.877);
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-left: .1rem solid rgba(187, 187, 187, 0.411);
}

.PayPageItemTable tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: .1rem solid rgba(187, 187, 187, 0.411);
    border-top: none;
}

.PayPageItemTable tbody td {
    font-size: 1.3rem;
    font-weight: 700;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: .1rem solid rgba(187, 187, 187, 0.411);
}

.PayPageItemTable tbody img {
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    border-radius: 2rem !important;
    object-fit: cover;
}

/*SELLER / CUSTOMER */

.MyProfileSellerDiv,
.MyProfileCustomerDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.MyProfileSellerHeader,
.MyProfileCustomerHeader {
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .1rem solid rgba(230, 230, 230, 0.61);
}

.MyProfileSellerHeaderImg,
.MyProfileCustomerHeaderImg {
    width: 20rem;
    height: 20rem;
    object-fit: contain;
}

.MyProfileSellerHeaderImg img,
.MyProfileCustomerHeaderImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
    border-radius: 50%;
}

.MyProfileSellerHeaderProfileInfo,
.MyProfileCustomerHeaderProfileInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MyProfileInfoTable {
    width: 100%;
    display: flex;

}

.MyProfileInfoTable thead tr {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.MyProfileInfoTable thead th {
    font-size: 1.7rem;
    font-weight: 700;
    color: rgba(184, 184, 184, 0.877);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    margin-right: 3rem;
}

.MyProfileInfoTable tbody tr {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MyProfileInfoTable tbody td {
    width: 100%;
    height: 5rem;
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.MyProfileSellerProductsDiv {
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2rem 0 2rem 0;
    padding: 0 3rem 0 3rem;
}

.MyProfileSellerProductsDivButton {
    width: 15rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: .5rem;
    border: none;
    background-color: rgb(76, 95, 122);
    color: white;
    box-shadow: .1rem .3rem 2.2rem rgb(156, 156, 156);
}

.MyProfileSellerProductsDivButton:hover {
    cursor: pointer;
    background-color: rgb(98, 118, 145);
}


.MyProfileSellerMain,
.MyProfileCustomerMain {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.MyProfileSellerMainProduct {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(25em, 2fr));
}

.MyProfileOrdersTable,
.MyProfileOrdersPlacedTable {
    width: 100%;
    margin-bottom: 3rem;
}

.MyProfileOrdersTable thead tr,
.MyProfileOrdersPlacedTable thead tr {
    width: 100%;
    display: flex;
    border: .1rem solid rgba(187, 187, 187, 0.411);
    justify-content: space-between;
    background-color: rgba(132, 66, 255, 0.842);
}

.MyProfileOrdersTable thead th,
.MyProfileOrdersPlacedTable thead th {
    font-size: 1.7rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5rem;
    border-left: .1rem solid rgba(187, 187, 187, 0.411);
    padding: 1rem;
}

.MyProfileOrdersTable tbody tr,
.MyProfileOrdersPlacedTable tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: .1rem solid rgba(187, 187, 187, 0.411);
    border-top: none;
}

.MyProfileOrdersTable tbody tr:nth-child(odd),
.MyProfileOrdersPlacedTable tbody tr:nth-child(odd) {
    background-color: rgba(217, 204, 255, 0.527);
}

.MyProfileOrdersTable tbody td,
.MyProfileOrdersPlacedTable tbody td {
    padding: 0 2rem 0 2rem;
    height: auto;
    min-height: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-left: .1rem solid rgba(187, 187, 187, 0.411);
    white-space: pre-wrap;
    word-break: break-all;
}

.MyProfileOrdersTable tbody tr:nth-child(odd) td,
.MyProfileOrdersPlacedTable tbody tr:nth-child(odd) td {
    color: rgb(116, 116, 116);
}





/*HomePage*/
.HomePageDiv,
.CategoryListPageDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.ContentDiv,
.CategoryListPage {
    width: 100%;
    height: auto;
    display: flex;
}

.CatagoryDiv {
    flex-basis: 15%;
}

.ContentBody {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.HeaderSearch {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.HeaderSearchInput {
    width: 40%;
    height: 3rem;
    line-height: 3rem;
    border-radius: .4rem;
    border: .1rem solid rgba(219, 219, 219, 0.849);
    outline: none;
    padding: 1rem;
    font-weight: 700;
}

.ProductDiv {
    width: 100%;
    height: auto;
    flex-basis: 70%;
    padding: 3rem;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(21em, 2fr));

}

.ProductDivItems {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(21em, 2fr));
}

.FilterDiv {
    flex-basis: 15%;
}


/*
CSS Styles
Components Items Page
*/
/*CategoryList*/
.CategoryListDiv {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.CategoryListMainUl {
    list-style: none;
}

.CategoryListMainLi {
    width: 100%;
    height: 4rem;
}

.CategoryListMainButton {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    text-align: start;
    padding: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: .1rem solid rgba(212, 212, 212, 0.664);
    border-right: .1rem solid rgba(212, 212, 212, 0.664);
    transition: ease-in-out .2s;
}

.CategoryListMainButton:hover {
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.699);
}

.CategoryListMainButton.selected {
    background-color: rgba(184, 184, 184, 0.699);
}

.CategoryListMainButton.selected:hover {
    cursor: pointer;
    background-color: rgba(224, 224, 224, 0.699);
}

/*ProductItem*/

.ProductCardDiv,
.MyProfileProductsItemDiv,
.ShoesProductCardDiv {
    width: 23rem;
    height: 31rem;
    border-radius: 1rem;
    border: 1px solid rgba(190, 190, 190, 0.705);
    transition: ease-in-out .2s;
}

.ProductCardDiv:hover,
.MyProfileProductsItemDiv:hover {
    cursor: pointer;
    box-shadow: .1rem .1rem 1rem .1rem rgb(216, 216, 216);
}

.ProductCardImg,
.MyProfileProductsItemImg,
.ShoesProductCardImg {
    width: 100%;
    height: 22rem;
    margin-bottom: 1rem;
    background-size: auto !important;
}

.ProductCardImg img,
.MyProfileProductsItemImg img,
.ShoesProductCardImg img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.ProductCardDesc,
.MyProfileProductsItemDesc,
.ShoesProductCardDesc {
    width: 100%;
    height: 8rem;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProductCardTitle,
.MyProfileProductsItemHeader,
.ShoesProductCardTitle {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.ProductCardPrice,
.MyProfileProductsItemPrice,
.ShoesProductCardPrice {
    font-size: 1.2rem;
}



.ClothesProductViewerDiv,
.ShoesProductViewerDiv,
.ElectronicProductViewerDiv,
.PersonalCareProductViewerDiv,
.BagProductViewerDiv {
    width: 100%;
    height: auto;
}

.ClothesProductViewerPage,
.ShoesProductViewerPage,
.ElectronicProductViewerPage,
.PersonalCareProductViewerPage,
.BagProductViewerPage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.ClothesProductViewerPageImage,
.ShoesProductViewerPageImage,
.ElectronicProductViewerPageImage,
.PersonalCareProductViewerPageImage,
.BagProductViewerPageImage {
    width: 40%;
    height: 75rem;
    object-fit: contain;
}

.ClothesProductViewerPageImage img,
.ShoesProductViewerPageImage img,
.ElectronicProductViewerPageImage img,
.PersonalCareProductViewerPageImage img,
.BagProductViewerPageImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.ClothesProductViewerPageBody,
.ShoesProductViewerPageBody,
.ElectronicProductViewerPageBody,
.BagProductViewerPageBody,
.PersonalCareProductViewerPageBody {
    width: 48%;
    height: 80rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
}

.ClothesProductViewerPageBodyHeader,
.ShoesProductViewerPageBodyHeader,
.ElectronicProductViewerPageBodyHeader,
.PersonalCareProductViewerPageBodyHeader,
.BagProductViewerPageBodyHeader {
    font-size: 2.4rem;
    white-space: pre-wrap !important;
    word-break: break-all;
    margin-bottom: 5rem;
}

.ProductSeller {
    font-size: 2.4rem;
    font-weight: 700;
    color: rgb(134, 156, 175);
}

.ProductBrand:hover {
    cursor: pointer;
    color: rgba(134, 156, 175, 0.801);
}

.ClothesItemFeature,
.ShoesItemFeature,
.ElectronicItemFeature,
.BagItemFeature,
.PersonalCareItemFeature {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.ClothesItemFeatureP,
.ShoesItemFeatureP,
.ElectronicItemFeatureP,
.PersonalCareItemFeatureP,
.BagItemFeatureP {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1rem 0 1rem;
    background-color: rgb(250, 250, 250);
    color: rgb(155, 155, 155);
    border-radius: .4rem;
    box-shadow: .1rem .1rem .5rem .1rem rgba(206, 221, 255, 0.589);
    border: .1rem solid rgb(228, 228, 228);
}

.ClothesItemFeatureP span,
.ShoesItemFeatureP span,
.ElectronicItemFeatureP span,
.BagItemFeatureP span,
.PersonalCareItemFeatureP span {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(89, 98, 128, 0.699);
}

.ClothesItemFeatureDesc,
.ShoesItemFeatureDesc,
.ElectronicItemFeatureDesc,
.BagItemFeatureDesc,
.PersonalCareItemFeatureDesc {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .4rem;
    border: .1rem solid rgb(228, 228, 228);
    background-color: rgb(250, 250, 250);
    box-shadow: .1rem .1rem .5rem .1rem rgba(206, 221, 255, 0.589);
    margin-bottom: 2rem;
    font-size: 1.6rem;
    padding: 1.3rem;
    white-space: pre-wrap !important;
    word-break: break-all !important;

}

.ClothesItemFeatureDesc span,
.ShoesItemFeatureDesc span,
.ElectronicItemFeatureDesc span,
.BagItemFeatureDesc span,
.PersonalCareItemFeatureDesc span {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(89, 98, 128, 0.699);
    display: -webkit-box;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
}

.ClothesItemFeatureDesc span:hover,
.ShoesItemFeatureDesc span:hover,
.BagItemFeatureDesc span:hover,
.PersonalCareItemFeatureDesc span:hover {
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(89, 98, 128, 0.699);
    display: block;
}

.ClothesItemFeatureButton,
.ShoesItemFeatureButton,
.ElectronicItemFeatureButton,
.PersonalCareItemFeatureButton,
.BagItemFeatureButton {
    width: 70%;
    height: 4rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    color: white;
    background-color: rgb(21, 38, 78);
    transition: ease-in-out .2s;
}

.ClothesItemFeatureButton:hover,
.ShoesItemFeatureButton:hover,
.ElectronicItemFeatureButton:hover,
.PersonalCareItemFeatureButton:hover,
.BagItemFeatureButton:hover {
    cursor: pointer;
    background-color: rgba(21, 38, 78, 0.788);
}


.ClothesItemFavoriteButtonFirst,
.ShoesItemFavoriteButtonFirst,
.ElectronicItemFavoriteButtonFirst,
.PersonalCareItemFavoriteButtonFirst,
.BagItemFavoriteButtonFirst {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .1rem solid rgba(163, 163, 163, 0.596);
    border-radius: 50%;
}

.ClothesItemFavoriteButtonFirst .FavoriteIcon,
.ShoesItemFavoriteButtonFirst .FavoriteIcon,
.ElectronicItemFavoriteButtonFirst .FavoriteIcon,
.PersonalCareItemFavoriteButtonFirst .FavoriteIcon,
.BagItemFavoriteButtonFirst .FavoriteIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ClothesItemFavoriteButtonFirst .FavoriteIcon svg,
.ShoesItemFavoriteButtonFirst .FavoriteIcon svg,
.ElectronicItemFavoriteButtonFirst .FavoriteIcon svg,
.PersonalCareItemFavoriteButtonFirst .FavoriteIcon svg,
.BagItemFavoriteButtonFirst .FavoriteIcon svg {
    font-size: 2rem !important;
}

.ClothesItemFavoriteButtonFirst .FavoriteIcon path:first-child,
.ShoesItemFavoriteButtonFirst .FavoriteIcon path:first-child,
.ElectronicItemFavoriteButtonFirst .FavoriteIcon path:first-child,
.PersonalCareItemFavoriteButtonFirst .FavoriteIcon path:first-child,
.BagItemFavoriteButtonFirst .FavoriteIcon path:first-child {
    fill: rgb(184, 184, 184);
}

.ClothesItemFavoriteButtonFirst .FavoriteIcon path:last-child,
.ShoesItemFavoriteButtonFirst .FavoriteIcon path:last-child,
.ElectronicItemFavoriteButtonFirst .FavoriteIcon path:last-child,
.PersonalCareItemFavoriteButtonFirst .FavoriteIcon path:last-child,
.BagItemFavoriteButtonFirst .FavoriteIcon path:last-child {
    fill: rgb(255, 255, 255);
}

.ClothesItemFavoriteButtonFirst .FavoriteIcon svg:hover,
.ShoesItemFavoriteButtonFirst .FavoriteIcon svg:hover,
.ElectronicItemFavoriteButtonFirst .FavoriteIcon svg:hover,
.PersonalCareItemFavoriteButtonFirst .FavoriteIcon svg:hover,
.BagItemFavoriteButtonFirst .FavoriteIcon svg:hover {
    cursor: pointer;
}

.ClothesItemFavoriteButtonFirst .FavoriteIcon svg:hover path:first-child,
.ShoesItemFavoriteButtonFirst .FavoriteIcon svg:hover path:first-child,
.ElectronicItemFavoriteButtonFirst .FavoriteIcon svg:hover path:first-child,
.PersonalCareItemFavoriteButtonFirst .FavoriteIcon svg:hover path:first-child,
.BagItemFavoriteButtonFirst .FavoriteIcon svg:hover path:first-child {
    fill: red;

}



.ClothesItemFavoriteButtonLast,
.ShoesItemFavoriteButtonLast,
.ElectronicItemFavoriteButtonLast,
.BagItemFavoriteButtonLast,
.PersonalCareItemFavoriteButtonLast {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .1rem solid rgba(163, 163, 163, 0.596);
    border-radius: 50%;
}

.ClothesItemFavoriteButtonLast .FavoriteIcon,
.ShoesItemFavoriteButtonLast .FavoriteIcon,
.ElectronicItemFavoriteButtonLast .FavoriteIcon,
.BagItemFavoriteButtonLast .FavoriteIcon,
.PersonalCareItemFavoriteButtonLast .FavoriteIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ClothesItemFavoriteButtonLast .FavoriteIcon svg,
.ShoesItemFavoriteButtonLast .FavoriteIcon svg,
.ElectronicItemFavoriteButtonLast .FavoriteIcon svg,
.BagItemFavoriteButtonLast .FavoriteIcon svg,
.PersonalCareItemFavoriteButtonLast .FavoriteIcon svg {
    font-size: 2rem !important;
}

.ClothesItemFavoriteButtonLast .FavoriteIcon path:first-child,
.ShoesItemFavoriteButtonLast .FavoriteIcon path:first-child,
.ElectronicItemFavoriteButtonLast .FavoriteIcon path:first-child,
.BagItemFavoriteButtonLast .FavoriteIcon path:first-child,
.PersonalCareItemFavoriteButtonLast .FavoriteIcon path:first-child {
    fill: rgb(255, 0, 0);
}

.ClothesItemFavoriteButtonLast .FavoriteIcon path:last-child,
.ShoesItemFavoriteButtonLast .FavoriteIcon path:last-child,
.ElectronicItemFavoriteButtonLast .FavoriteIcon path:last-child,
.BagItemFavoriteButtonLast .FavoriteIcon path:last-child,
.PersonalCareItemFavoriteButtonLast .FavoriteIcon path:last-child {
    fill: rgb(255, 36, 36);
}

.ClothesItemFavoriteButtonLast .FavoriteIcon svg:hover,
.ShoesItemFavoriteButtonLast .FavoriteIcon svg:hover,
.ElectronicItemFavoriteButtonLast .FavoriteIcon svg:hover,
.BagItemFavoriteButtonLast .FavoriteIcon svg:hover,
.PersonalCareItemFavoriteButtonLast .FavoriteIcon svg:hover {
    cursor: pointer;
}

.ClothesItemFavoriteButtonLast .FavoriteIcon svg:hover path:last-child,
.ShoesItemFavoriteButtonLast .FavoriteIcon svg:hover path:last-child,
.ElectronicItemFavoriteButtonLast .FavoriteIcon svg:hover path:last-child,
.BagItemFavoriteButtonLast .FavoriteIcon svg:hover path:last-child,
.PersonalCareItemFavoriteButtonLast .FavoriteIcon svg:hover path:last-child {
    fill: rgb(255, 111, 111);
}